body {
    margin: 0;
}

#content {
    height: 100vh;
    display: grid;
    grid-template: 1fr 7fr 1fr / 1fr 5fr;
}

header {
    grid-column: 1 / 3;
    background-color: #0C0A00;
    color: #FEFEFE;
}

.left-panel {
    background-color: yellowgreen;
    padding: 0 20px;
}

.hidden {
    display: none;
}

.selected {
    background-color: cadetblue;
    color: whitesmoke;
}

.home > h2, .projects > h2 {
    font-size: 1.6rem;
    margin: 20px 12px 8px;
}

.panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 0 20px;
}

.panel:hover {
    background-color: #0C0A00;
    color: #FEFEFE;
}

.panel > p {
    font-size: 1.25rem;
    margin: 10px 0;
}

.project-options {
    margin-left: auto;
    display: flex;
    gap: 12px;
}

.right-panel {
    background-color: khaki;
}

.task {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    background-color: teal;
    color: whitesmoke;
    padding: 0 20px;
    margin: 0 auto;
}

.task-left-div, .task-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

#description {
    resize: none;
}

footer {
    grid-column: 1 / 3;
    background-color: cadetblue;
}