@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&family=Yanone+Kaffeesatz&display=swap');

/* GRID LAYOUT */
body {
    font-family: 'Jost', sans-serif;
    margin: 0;
}

#content {
    height: 100vh;
    display: grid;
    grid-template: 1fr 7fr 0.6fr / 1fr 5fr;
}

.hidden {
    display: none !important;
}

/* HEADER */
header { 
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-family: 'Yanone Kaffeestaz', sans-serif;
    text-transform: uppercase;
    background-color: #111111;
    color: #FEFEFE;
}

.logo {
    height: 70px;
    width: 70px;
    background-image: url('../clipart2708970.png');
    background-size: cover;
    background-position: center;
}

.no-task {
    font-size: 1.75rem;
    text-align: center;
}

/* HOME AND PROJECT SECTION */
.left-panel {
    background-color: #272838;
    color: #FEFEFE;
    padding: 0 20px;
}

.home h2, .projects h2 {
    font-size: 1.6rem;
    letter-spacing: 1.4px;
    margin: 20px 12px 8px;
}

hr {
    width: 100%;
    border-top: 0.5px solid #FEFEFE;
    margin-top: -10px;
}

.panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-top: 4px;
    padding: 0 20px;
    cursor: pointer;
}

.panel:hover, .selected {
    background-color: #F4D35E;
    color: #111111;
    border-radius: 20px;
}

.panel > p {
    font-size: 1.25rem;
    margin: 10px 0;
}

.projects {
    display: flex;
    flex-direction: column;
}

#add-new-project {
    padding: 4px 16px;
    margin: 10px auto 8px;
    font-size: 0.8rem;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

#add-new-project:hover {
    background-color: #F4D35E;
}

.project-inputs {
    text-align: center;
    margin: 12px 0;
}

.project-inputs > input {
    width: 180px;
    font-size: 0.85rem;
    margin: 6px 0;
    padding: 0 4px;
}

.project-inputs > input:focus {
    border: 2px solid #111111;
    border-radius: 8px;
}

.error-message {
    color: #FEFEFE;
    background-color: #FF0800;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 2px 0;
    margin: 0 0 4px;
}

input[class*="btn"], input[class*="rename"] {
    font-size: 0.85rem;
    border: none;
    border-radius: 10px;
    padding: 2px 8px;
    margin: 0 4px;
    cursor: pointer;
}

input[class*="btn"]:hover {
    background-color: #228B22;
    color: #FEFEFE;
}

input[class*="cancel"]:hover {
    background-color: #FF0800;
    color: #FEFEFE;
}

.edit-project {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 1.2rem;
    margin-left: auto;
}

i[class*="pen"]:hover {
    color: #2C562D;
}

i[class*="trash"]:hover {
    color: #FF0800;
}

#rename-project-form > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    margin: 6px 0;
}

#rename-project-form > div:first-child {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 12px;
    background-color: #F4D35E;
    color: #111111;
    padding: 12px 20px;
    border-radius: 20px;
}

#rename-project {
    width: 110px;
    font-size: 1rem;
    padding: 0 4px;
}

#rename-project:focus, label + input:not([type="radio"]):focus, label + textarea:focus {
    border: 2px solid #111111;
    border-radius: 8px;
    padding: 2px 4px;
}

.rename-error {
    text-align: center;
    color: #FF0800;
    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: 0.6px;
    margin: 0;
}

/* TASKS SECTION */
.right-panel {
    display: flex;
    flex-direction: column;
    background-color: #B4B4B4;
}

.project-title {
    font-size: 2.4rem;
    margin: 20px 40px 12px;
    text-transform: capitalize;
}

.todo-list {
    max-height: 66vh;
    overflow: auto;
}

.todo-list::-webkit-scrollbar {
    width: 16px;
}

.todo-list::-webkit-scrollbar-track {
    background: #F1F1F1;
    border-radius: 16px;
}

.todo-list::-webkit-scrollbar-thumb {
    background: #587B7F;
    border-radius: 16px;
}

.todo-list::-webkit-scrollbar-thumb:hover {
    background: #272838;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    background-color: #587B7F;
    color: #FEFEFE;
    padding: 0 40px;
    border-radius: 20px;
    margin: 0 100px 8px;
}

.task-left-div, .task-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.task-text {
    letter-spacing: 0.75px;
    margin: 0 auto 0 0;
}

.task-title {
    margin: auto 0 0;
}

.task-description {
    margin: 2px 0 6px;
}

.task > input + p {
    margin: 12px 0;
}

input[type="checkbox"] {
    display: grid;
    place-content: center;
    appearance: none;
    background-color: #FEFEFE;
    color: #228B22;
    width: 20px;
    height: 20px;
    border: 2px solid #111111;
    border-radius: 6px;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 4px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 22px 22px #228B22;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"] + p {
    color: #FEFEFE;
    font-size: 1rem;
    padding: 0 6px;
    border-radius: 12px;
    margin: 12px 0;
}

.strike-through {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}

.completed {
    opacity: 0.6;
}

.low {
    text-transform: capitalize;
    background-color: #2C562D;
    border: 3px solid #2C562D;
}

.medium {
    text-transform: capitalize;
    background-color: #FD6A02;
    border: 3px solid #FD6A02;
}

.high {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FF0800;
    border: 3px solid #FF0800;
}

.task-description {
    font-size: 1rem;
}

.details {
    min-width: 150px;
    padding: 4px 0;
    font-size: 0.8rem;
    border: none;
    border-radius: 16px;
}

.details:hover {
    background-color: #F4D35E;
    border: 2px solid #111111;
}

.details, .task-icon {
    cursor: pointer;
}

.date {
    border: 2px solid #587B7F;
    margin: 4px 0;
}

.overdue {
    text-align: center;
    text-transform: uppercase;
    background-color: #FF0800;
    padding: 0 4px;
    border: 2px solid #FF0800;
    border-radius: 8px;
}

#add-new-task {
    font-size: 1.2rem;
    padding: 4px 16px;
    border: none;
    border-radius: 16px;
    margin: 16px auto;
    cursor: pointer;
}

#add-new-task:hover {
    background-color: #587B7F;
    color: #FEFEFE;
}

#task-form {
    background-color: #587B7F;
    color: #FEFEFE;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 8px 16px;
    border: 2px solid #111111;
    border-radius: 16px;
    margin: 0 auto;
}

#task-form .error-message {
    font-size: 0.75rem;
    color: #FEFEFE;
    background-color: #FF0800;
    padding: 2px 4px;
    margin-left: 6px;
}

.form-task-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto 6px;
}

.form-task-input > label {
    font-size: 1.125rem;
    margin-right: 6px;
}

.form-task-input:nth-child(3) {
    align-items: center;
    gap: 4px;
}

.task-form-buttons {
    display: flex;
    justify-content: flex-end;
}

input[type='radio'] {
    display: inline-grid;
    place-items: center;
    appearance: none;
    -webkit-appearance: none;
    width: 1.125rem;
    height: 1.125rem;
    border: 2px solid #FEFEFE;
    border-radius: 50%;
    outline: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
  
input[type='radio']:before {
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
}
  
input[type='radio']:checked:before {
    background: #FEFEFE;
}

#edit-task-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #587B7F;
    color: #FEFEFE;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 8px 16px;
    border: 2px solid #111111;
    border-radius: 16px;
    margin: 0 100px 8px;
}

#edit-description {
    width: 95%;
    margin-top: 2px;
}

.edit-form-task-input:first-child {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}

.edit-form-task-input:nth-child(3) {
    display: inline-block;
    width: 300px;
    margin: 0;
}

#edit-task-form input[type="radio"] {
    width: 0.8rem;
    height: 0.8rem;
}

#edit-task-form input[type="radio"]:before {
    width: 0.4rem;
    height: 0.4rem;
}

.edit-task-form-buttons {
    margin-left: 18px;
}

#description, #edit-description {
    resize: none;
}

.edit-submit-btn {
    margin-bottom: 4px !important;
}

.blank-error {
    color: #FEFEFE;
    background-color: #FF0800;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.6px;
    padding: 2px 4px;
    margin-top: 4px;
}

/* FOOTER */
footer {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    background-color: #111111;
    color: #FEFEFE;
}

i[class*="github"] {
    font-size: 1.5rem;
    color: #7E7F9A;
}

i[class*="github"]:hover {
    color: #F4D35E;
}

/* COLOUR PALETTE  
HEADER - #191A20 OR #111111
SIDEBAR COLOUR - #272838
PANEL SELECTED - #F3DE8A OR #F4D35E
TASK SECTION BG - LIGHT GRAY
TASK PANEL - #587B7F OR #7E7F9A OR #28AFB0
FOOTER - #191A20 OR #111111
*/