@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&family=Yanone+Kaffeesatz&display=swap');

/* GRID LAYOUT */
body {
    font-family: 'Jost', sans-serif;
    margin: 0;
}

#content {
    height: 100vh;
    display: grid;
    grid-template: 1fr 7fr 0.6fr / 1fr 5fr;
}

.hidden, .panel.hidden {
    display: none;
}

/* HEADER */
header { 
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yanone Kaffeestaz', sans-serif;
    text-transform: uppercase;
    background-color: #111111;
    color: #FEFEFE;
}

/* HOME AND PROJECT SECTION */
.left-panel {
    background-color: #272838;
    color: #FEFEFE;
    padding: 0 20px;
}

.home h2, .projects h2 {
    font-size: 1.6rem;
    letter-spacing: 1.4px;
    margin: 20px 12px 8px;
}

hr {
    border-top: 0.5px solid #FEFEFE;
    margin-top: -10px;
}

.panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-top: 4px;
    padding: 0 20px;
    cursor: pointer;
}

.panel:hover, .selected {
    background-color: #F4D35E;
    color: #111111;
    border-radius: 20px;
}

.panel > p {
    font-size: 1.25rem;
    margin: 10px 0;
}

.projects {
    position: relative;
}

#add-new-project {
    position: absolute;
    transform: translateX(40%);
    padding: 4px 16px;
    margin: 10px 0 0;
    font-size: 0.8rem;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

#add-new-project:hover {
    background-color: #F4D35E;
    color: #111111;
}

.project-inputs {
    text-align: center;
    margin: 12px 0;
}

.project-inputs > input {
    width: 200px;
    font-size: 1rem;
    margin: 6px 0;
    padding: 0 4px;
}

.project-inputs > input:focus {
    border: 2px solid #111111;
    border-radius: 8px;
}

.error-message {
    color: #FFCECC;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 0 4px;
}

.submit-btn, .cancel-btn, .rename-btn, .cancel-rename {
    font-size: 0.9rem;
    border: 2px solid #272838;
    border-radius: 10px;
    padding: 2px 8px;
    margin: 0 4px;
    cursor: pointer;
}

.submit-btn:hover, .rename-btn:hover {
    background-color: #228B22;
    color: #FEFEFE;
}

.cancel-btn:hover, .cancel-rename:hover {
    background-color: #FF0800;
    color: #FEFEFE;
}

.edit-project {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 1.2rem;
    margin-left: auto;
}

i[class*="pen"]:hover {
    color: #2C562D;
}

i[class*="trash"]:hover {
    color: #FF0800;
}

#rename-project-form > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    margin: 6px 0;
}

#rename-project-form > div:first-child {
    justify-content: flex-start;
    gap: 12px;
    background-color: #F4D35E;
    color: #111111;
    padding: 12px 20px;
    border-radius: 20px;
}

#rename-project {
    width: 200px;
    font-size: 1rem;
    padding: 0 4px;
}

#rename-project:focus {
    border: 2px solid #111111;
    border-radius: 8px;
}

/* TASKS SECTION */
.right-panel {
    background-color: #B4B4B4;
}

/* FOOTER */
footer {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    background-color: #111111;
    color: #FEFEFE;
}

i[class*="github"] {
    font-size: 1.5rem;
    color: #7E7F9A;
}

i[class*="github"]:hover {
    color: #F4D35E;
}

/* COLOUR PALETTE 
HEADER - #191A20 OR #111111
SIDEBAR COLOUR - #272838
PANEL SELECTED - #F3DE8A OR #F4D35E
TASK SECTION BG - LIGHT GRAY
TASK PANEL - #587B7F OR #7E7F9A OR #28AFB0
FOOTER - #191A20 OR #111111
*/